<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >

<xi:include href="_util.html" />

<py:if test="len(_form_errors)">
  <div py:match="input|select" py:strip="" py:with="error = _form_errors.get(str(select('@name')))">
    ${select('.')}
    <span class="error-message" py:if="error" py:content="error"></span>
  </div>
</py:if>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>${page_title()} - ${g.site_title}</title>
  <link rel="shortcut icon" href="${h.static('img/favicon.ico')}" type="image/x-icon" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="${h.static('css/reset.css')}" />

  <link rel="stylesheet" href="${h.static('css/blueprint/screen.css')}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="${h.static('css/blueprint/print.css')}" type="text/css" media="print" />
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="${h.static('css/style.css')}" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script src="${h.static('js/modernizr.js')}"></script>
  <script src="http://assets.okfn.org/banner/banner.js"></script>
  <script src="${h.static('js/main.js')}"></script>

  <py:if test="defined('optional_head')">
    ${optional_head()}
  </py:if>
</head>
<body class="${nav_class()}">

  <py:with vars="messages = list(h._flash.pop_messages())">
    <div class="flash-banner-box" py:if="len(messages)">
      <div class="flash-banner ${m.category}" py:for="m in messages">
        ${m.message}
      </div>
    </div>
  </py:with>
  <div id="page" class="container">
    <header class="span-24">
      <nav>
        <a py:if="c.account is None" href="/login">Login or register</a>
        <py:if test="c.account is not None">
          <a href="/settings">My Profile</a>
          <a href="/logout">Logout</a>
        </py:if>
      </nav>
      <h1 id="site-title"><a href="/">${g.site_title}</a></h1>
      <div id="slogan" class="">${g.site_slogan}</div>
    </header>

    <div id="main" class="span-24">
      ${content()}
    </div>

    <footer class="span-24">
      <ul class="credits">
        <li>&copy; 2011: <a href="http://okfn.org">The Open Knowledge Foundation</a></li>
        <li><a href="http://www.opendefinition.org/okd/">
          <img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="Open Data" />
        </a></li>
      </ul>
      <ul>
        <li><a href="${g.wiki_link}">Wiki</a></li>
        <li><a href="${g.lists_link}">Mailing List</a></li>
        <li><a href="${g.api_link}">API</a></li>
        <li><a href="http://okfn.org/privacy-policy/">Privacy</a></li>
        <li><a href="http://okfn.org/contact/">Contact</a></li>
      </ul>
    </footer>
  </div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8271754-17']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>

