<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-source</py:def>
  <py:def function="page_title">Package Sources</py:def>

  <div py:def="content" class="content">
    <h2>OpenSpending packages in CKAN</h2>
    <p>
    Below are a list of source datasets that are part of the
    <a
      href="http://ckan.net/group/${c.group}">OpenSpending</a>
    group on CKAN. To add further sources, <a
      href="http://ckan.net/package/new">create a data package</a>
    on CKAN and add it to the group.
    </p>
    <div id="ckan-packages" class="package-listing loading">
      <span>&nbsp; Loading packages from CKAN...</span>
    </div>
    <script>
    jQuery(function ($) {
      $('#ckan-packages').load('${h.url(controller="sources", action="ckan_packages")}', function (rt) {
        $(this).removeClass('loading');
      });
    });
    </script>
  </div>

  <xi:include href="../layout.html" />
</html>
