<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >

  <body>
    <table>
      <thead>
        <tr>
          <th>Package</th>
          <th>Import status</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="pkg in c.packages">
            <td><a href="${pkg['ckan_url']}">${pkg['title']}</a></td>
            <td py:choose="pkg.is_importable()">
              <a py:when="True" href="${h.url(controller='load',
                                              action='start',
                                              package=pkg['name'])}">
                Importable &ndash; start import
              </a>
              <a py:otherwise="" href="${h.url(controller='load',
                                               action='diagnose',
                                               package=pkg['name'])}">
                Not importable &ndash; view diagnostics
              </a>
            </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
