<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-load</py:def>
  <py:def function="page_title">Import diagnostics (${c.pkg['name']})</py:def>


  <py:def function="resource_for_package(resname)">
    <py:choose test="">
      <py:when test="not c.pkg_diagnostics[resname]">
        <dd class='ckan-choose-resource'
          data-ckan-package="${c.pkg['name']}"
          data-ckan-hint="${resname}"
          data-ckan-prev-resource-id="">
          None set
        </dd>
      </py:when>
      <py:when test="'error' in c.pkg_diagnostics[resname]">
        <dd class='ckan-choose-resource'
            data-ckan-package="${c.pkg['name']}"
            data-ckan-hint="${resname}"
            data-ckan-prev-resource-id="">
            <span class='error-message'>${c.pkg_diagnostics[resname]['error']}</span>
        </dd>
      </py:when>
      <py:otherwise>
        <dd class='ckan-choose-resource'
            data-ckan-package="${c.pkg['name']}"
            data-ckan-hint="${resname}"
            data-ckan-prev-resource-id="${c.pkg_diagnostics[resname]['id']}">
            <a href="${c.pkg_diagnostics[resname]['url']}">${c.pkg_diagnostics[resname]['url']}</a>
        </dd>
      </py:otherwise>
    </py:choose>
  </py:def>

  <div py:def="content" class="content">
    <script>
      OpenSpending._ckan_package_cache = {
        '${c.pkg['name']}': ${c.pkg.to_json()}
      }
    </script>
    <h2>Import preflight checks &amp; diagnostics</h2>
    <h3>${c.pkg['title']} (${c.pkg['name']})</h3>

    <p py:choose="c.pkg.is_importable()">
      <py:when test="True">
        This package looks like it's fine.
        <a href="${h.url(controller='load', action='start', package=c.pkg['name'])}">
          Import it?
        </a>
      </py:when>
      <py:otherwise>
        We can't import this package. It should have precisely one <tt>model</tt>
        URL, and precisely one <tt>data</tt> URL.
        See below for information that should help you diagnose what's gone wrong.
      </py:otherwise>
    </p>

    <dl>
      <dt><tt>model</tt> URL</dt>
      ${resource_for_package('model')}
      <dt><tt>data</tt> URL</dt>
      ${resource_for_package('data')}
    </dl>
  </div>

  <xi:include href="../layout.html" />
</html>
