<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <py:def function="nav_class">nav-home</py:def>
  <py:def function="page_title">Extract, Transform, Load</py:def>

  <div py:def="content" class="content">
    <h2>Welcome to OpenSpending ETL</h2>
    <h3>Please select a task&hellip;</h3>

    <ul>
      <li>
        <a href="${h.url(controller='load', action='index')}">
          Load a dataset
        </a>
      </li>
      <li>Generate an OpenSpending model for a dataset (Not Yet Implemented!)</li>
      <py:if test="g.sandbox_mode">
      <li>
        <a href="${h.url(controller='task', action='remove_dataset')}">
          Remove a dataset from the sandbox
        </a>
      </li>
      <li>
        <a class="confirm"
           title="Are you sure you wish to IRREVERSIBLY REMOVE all data from the database?"
           href="${h.url(controller='task', action='drop_database')}"
           rel="nofollow">
          Drop all data from the sandbox
        </a>
      </li>
      </py:if>
    </ul>
  </div>

  <xi:include href="../layout.html" />
</html>