<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >

  <body>
    <pre>${c.job_log}</pre>
    <py:choose test="c.job_running">
      <p class="job-running" py:when="True">
        Job running&hellip;
      </p>
      <p class="job-complete" py:otherwise="">
        This job has now completed!
        <a href="${h.url(controller='home', action='index')}">Go home?</a>
      </p>
    </py:choose>
  </body>
</html>